<app-message *ngIf="showMessage" [messageType]="messageType" (hideMessageEvent)="hideMessage( $event )"></app-message>

<div class="animate__animated animate__bounce text-layout">
  <p-fieldset legend="Cursos" [toggleable]="true" class="animate__animated animate__fadeInDown">
    <p-tabView>
      <p-tabPanel header="Registrar Curso" leftIcon="pi pi-save" [disabled]="isDisabledRegistrar"
        [selected]="isSelectedViewRegistrar">
        <div class="formgrid grid">
          <div class="field sm:col-12 md:col-4 lg:col-4">
            <label for="idCur">ID Curso</label>
            <p-inputNumber [(ngModel)]="idCur" inputId="idCur" [style]="{'width':'100%'}"></p-inputNumber>
          </div>
          <div class="field sm:col-12 md:col-4 lg:col-4">
            <label for="grado">Grado</label>
            <input [(ngModel)]="grado" id="grado" type="text" pInputText class="inputfield w-full" />
          </div>
          <div class="field sm:col-12 md:col-4 lg:col-4">
            <label for="salon">Salon</label>
            <input [(ngModel)]="salon" id="salon" type="text" pInputText class="inputfield w-full" />
          </div>
          <div class="field col-12 flex justify-content-center">
            <button (click)="saveCurso()" pButton type="button" label="Registrar Curso" icon="pi pi-save"
              class="p-button"></button>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Modificar Curso" leftIcon="pi pi-pencil" [disabled]="isDisabledModificar"
        [selected]="isSelectedViewModificar">
        <div class="formgrid grid">
          <div class="field sm:col-12 md:col-4 lg:col-4">
            <label for="idCurM">ID Curso</label>
            <p-inputNumber [(ngModel)]="idCurM" inputId="idCurM" [style]="{'width':'100%'}" [disabled]="true">
            </p-inputNumber>
          </div>
          <div class="field sm:col-12 md:col-4 lg:col-4">
            <label for="gradoM">Grado</label>
            <input [(ngModel)]="gradoM" id="gradoM" type="text" pInputText class="inputfield w-full" />
          </div>
          <div class="field sm:col-12 md:col-4 lg:col-4">
            <label for="salonM">Salon</label>
            <input [(ngModel)]="salonM" id="salonM" type="text" pInputText class="inputfield w-full" />
          </div>
          <div class="field col-6 flex justify-content-end">
            <button (click)="cancelar()" pButton type="button" label="Cancelar" icon="pi pi-times"
              class="p-button"></button>
          </div>
          <div class="field col-6 flex justify-content-left">
            <button (click)="editCurso()" pButton type="button" label="Modificar Curso" icon="pi pi-pencil"
              class="p-button"></button>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </p-fieldset>

  <div *ngIf="cursos.length > 0 else viewMessage" class="grid">
    <div class="flex justify-content-left mt-5 box shadow-7" style="overflow-x : auto">
      <p-table [value]="cursos" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[5,10,25,50,100]" [scrollable]="false" scrollHeight="250px"
        styleClass="p-datatable-sm p-datatable-gridlines">
        <!--[lazy]="true" (onLazyLoad)="loadTable($event)">-->
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:100px">
            <col style="width:200px">
            <col style="width:200px">
            <col style="width:50px">
            <col style="width:50px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="idCur" [ngStyle]="{'text-align': 'center'}">ID
              Curso <p-sortIcon field="idCur"></p-sortIcon>
            </th>
            <th pSortableColumn="grado" [ngStyle]="{'text-align': 'center'}">Grado
              <p-sortIcon field="grado"></p-sortIcon>
            </th>
            <th pSortableColumn="salon" [ngStyle]="{'text-align': 'center'}">Salon
              <p-sortIcon field="salon"></p-sortIcon>
            </th>
            <th [ngStyle]="{'text-align': 'center'}"></th>
            <th [ngStyle]="{'text-align': 'center'}"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
          <tr>
            <td class="ajust-content-column-table" [ngStyle]="{'text-align': 'center'}">{{curso.idCur}}
            </td>
            <td class="ajust-content-column-table">{{curso.grado}}</td>
            <td class="ajust-content-column-table">{{curso.salon |
              titlecase}}</td>
            <td [ngStyle]="{'text-align': 'center'}">
              <button type="button" pButton pRipple icon="pi pi-pencil" (click)="preEditCurso(curso)"
                pTooltip="Modificar Curso" tooltipPosition="top"></button>
            </td>
            <td [ngStyle]="{'text-align': 'center'}">
              <button type="button" pButton pRipple icon="pi pi-times" (click)="preDeleteCurso( $event, curso)"
                pTooltip="Eliminar Curso" tooltipPosition="top"
                [ngStyle]="{backgroundColor:'var(--my-var, FireBrick)'}"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
  <ng-template #viewMessage><small><strong>No se encontraron registros
        ...</strong></small></ng-template>
</div>
