  <h3>Opciones</h3>
  <hr/>
  <ul class="nav nav-pills flex-column mb-auto animate__animated animate__slideInLeft">
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profesores" routerLinkActive="active" >Consultar Profesores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="asignaturasxprofesor/#" routerLinkActive="active" >Consultar Asignaturas X Profesor</a>
    </li>
  </ul>
